@page "/secret"
@attribute [Authorize]

<h1>Secret area</h1>

<AuthorizeView>
    <Authorized>
        <p>Hello, <strong>@context.User.Identity!.Name</strong>.</p>
        <p>You have these claims:</p>
        <ul>
            @foreach (var c in context.User.Claims)
            {
                <li><code>@c.Type</code> = <em>@c.Value</em></li>
            }
        </ul>
    </Authorized>
</AuthorizeView>
